@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.recuadro{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(244, 249, 255, 0.5);
  position: absolute;
  left: 32%;
  right: 32%;
  top: 15%;
  bottom: 15%;
  mix-blend-mode: normal;
  border-radius: 60px;
}

.boton1 {
  position: absolute;
  left: 12%;
  right: 12%;
  top: 22.36%;
  bottom: 62.55%;
  padding-top: 5%;
  padding-bottom: 9%;
  padding-left: 10%;
  padding-right: 10%;
  background: #92BBD2;
  color: #fff;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
  line-height:1em;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
}
.boton2{
  position: absolute;
  left: 12%;
  right: 12%;
  top: 60.18%;
  bottom: 24.73%;
  padding: 5%;
  background: #92BBD2;
  color: #fff;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
  line-height: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;

}
